body {
    background-color: #bfcfff;
    font-family: "Work Sans", serif;
    color: black;
}

header  {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding: 1rem;
    width: 100vw;
    background-color: #bfcfff;
}

.mentumBLU {
    transition: transform 0.3s ease-in-out; /* Smooth transition */
}

.mentumBLU:hover {
    transform: scale(1.2); /* Increases size without affecting layout */
}


header h1 {
    font-weight: 700;
    font-size: 3rem;
}

header  ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3vw;

}

a {
    text-decoration: none;
    color: black;
}

main {
    padding-top: 10vh;
    
}

main ul {
    display: grid;
    grid-template-columns: repeat(5, 30vw);
    
}

main ul:hover {
    animation: scrollz 3s infinite linear alternate-reverse;
}



@keyframes scrollz {
    0% ,20%{
        transform: translateX(0);
    }

    40% ,60%{
        transform: translateX(-50vw);
    }

    80% , 100%{
        transform: translateX(-100vw);
    }



}


